/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  width: 100%;
  padding: 10px;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 5;
}

.heading h1 {
  

}

.box {
}

.box:last-child {
}

.box h2 {
}

.box img {

}

.box a.read-more {
}

.footer {
  
}
