/*insert custom css below*/


body {
}

.heading {
  position: fixed ;
}

.heading h1 {
  position: fixed;
  width: 100%;
}

.box {
}

.box:last-child {
}

.box h2 {
}

.box img {

}

.box a.read-more {
}

.footer {
  
}
