/*insert custom css below*/


body {
}

.heading {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  top: 0px;
  left: 0px;
  margin: 0px;
  z-index: 10;
  border-bottom: 2px solid #222;
  
}

.heading h1 {
  

}

.box {
  width: 29%;
  float: left;
  position: relative;
  top: 50px;
  left: 0px;
  margin: 2%;
}

.box:last-child {
}

.box h2 {
}

.box img {
  position: relative;
  width: 100%;


}

.box a.read-more {
}

.footer {
  
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: 100%;
  padding: 0 20px;
  border-top: 2px solid #222;
  
  
}
